/* .container {
  padding: 0 2rem;
  background-color: green;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
.container {
  /* width: 700px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #f6f7f9;
}
.btn1 {
  /* padding: 10px; */
  border-radius: 20px;
  width: 150px;
  height: 40px;
  /* background-color: slategrey; */
  background-color: #d16b86;
  /* border: none; */
  border: 5px solid #d16b86;
}
.btn2 {
  /* padding: 10px; */
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #f6f7f9;
  border: 2px solid #d16b86;
}

.btn2:hover {
  background-color: #d16b86;
  /* transition-delay: 5s; */
  transition: 1.2s;
  /* transition: 50ms; */
}
.btndiv {
  display: flex;
  justify-content: space-between;
  width: 320px;
}
.title {
  font-size: 55px;
}
.para {
  font-size: 25px;
}
.projects {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  width: 700px;
  align-items: center;
}
.naseer {
  clip-path: circle();
  width: 350px;
}
.check {
  width: 40px;
}
.textdiv {
  margin: 0%;
}
.text1 {
  margin: 0;
}
.text2 {
  margin: 0;
}
.range1 {
  color: #d16b86;
  width: 400px;
  outline: #c7b1dd;
  text-decoration: none;
}
.pr {
  width: 500px;
  height: 15px;
  accent-color: #d16b86;
  -webkit-appearance: none;
  border-radius: 20px;
  /* background-color: #b0d4c1; */
}
.pr::-webkit-progress-bar {
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}
.pr::-webkit-progress-value {
  background-color: #9ec3e7;
  /* border-radius: 20px; */
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.range1[type="range"]::-webkit-slider-thumb {
  /* visibility: hidden; */
  opacity: 0;
}
/* .range1:disabled {
  color: #d16b86;
  width: 400px;
  outline: #c7b1dd;
  text-decoration: none;
} */
.progress {
  /* color: #d16b86; */
  width: 500px;
  /* background-color: #d16b86; */
  /* background-color: green; */
  height: 10px;
  display: flex;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid grey;
  /* background-color: #d16b86; */
}
.progressfill1 {
  /* background-color: #d16b86; */
  background-color: #c7b1dd;
  width: 600px;
  /* height: 30px; */
  border-radius: 20px;
}
.progressfill2 {
  /* background-color: #d16b86; */
  color: green;
  color: white;
  background-color: white;
  /* border-radius: 20px; */
  /* border-top-left-radius: 20px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100px;
  border: 1px solid white;
}
.flex1 {
  display: flex;
  justify-content: space-between;
}
.fdiv {
  background-color: #c7b1dd;
  width: 600px;
  height: 10px;
  border-radius: 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #ffffff;
}
.flex10 {
  display: flex;
  justify-content: space-between;
}

.progress0 {
  width: 500px;
  height: 10px;
  display: flex;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid grey;
  /* background-color: #d16b86; */
}
.progressfill10 {
  background-color: #8caeec;
  width: 500px;
  border-radius: 20px;
}
.progressfill20 {
  color: green;
  color: white;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
  border: 1px solid white;
}

.progress0 {
  width: 500px;
  height: 10px;
  display: flex;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid grey;
  /* background-color: #d16b86; */
}
.progressfill21 {
  background-color: #b0d4c1;
  width: 500px;
  border-radius: 20px;
}
.progressfill22 {
  color: green;
  color: white;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 150px;
  border: 1px solid white;
}
.what {
  width: 500px;
  font-size: 20px;
}
.what h3 {
  /* color: #60697B; */
}
.webdev {
  /* background-color: aqua; */
  width: 300px;
  align-items: center;
  margin: 0;
  text-align: center;
  padding: 10px;
}
.webdevimg {
  width: 60px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  padding: 10px;
}
.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.proge {
  background-color: red;
  width: 600px;
  border-radius: 80pc;
}
.form {
  width: 90%;
  height: 350px;
  margin: 0 auto;
  background-color: #fcf3f5;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 20px 50px;
}

.messagebox {
  width: 60px;
}
.inp1 {
  width: 300px;
  height: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  border: none;
}
.inp1::placeholder {
  margin-left: 70px;
}
.inp2 {
  width: 300px;
  height: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  border: none;
}
.inp3 {
  width: 670px;
  height: 100px;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  border: none;
}
.inps {
  width: 700px;
  margin-top: 10px;
}
.inp1div {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 700px;
  /* padding: 20px; */
}
.textdiv {
  width: 380px;
}
.btn3 {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #f6f7f9;
  border: 2px solid #d16b86;
  margin-top: 20px;
}
.project1 {
  margin: 0 auto;
  background-color: #f8f5fb;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.proj1pic {
  width: 650px;
  border-radius: 20px;
}
.proj1text {
  /* background-color: green; */
  width: 550px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.project2 {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #a5aab4; */

  background-color: #ece7f0;
  /* background-color: red; */

  padding: 20px 20px 40px 20px;
}
.proj2pic {
  width: 650px;
  border-radius: 20px;
}
.proj2text {
  /* background-color: green; */
  width: 550px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.direct2 {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  color: #9ec3e7;
  cursor: pointer;
}

.project3 {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #a5aab4; */

  background-color: #ece4e9;
  /* background-color: red; */

  padding: 20px 20px 40px 20px;
}
.proj3pic {
  width: 650px;
  border-radius: 20px;
}
.proj3text {
  /* background-color: green; */
  width: 550px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.direct3 {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  color: #9ec3e7;
  cursor: pointer;
}

.project4 {
  margin: 0 auto;
  /* margin-top: 30px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #a5aab4; */

  background-color: #f7f0f4;
  /* background-color: red; */

  padding: 20px 20px 40px 20px;
}
.proj4pic {
  width: 650px;
  /* border-radius: 40px; */
}
.proj4text {
  /* background-color: green; */
  width: 550px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.direct4 {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  color: #9ec3e7;
  cursor: pointer;
}

.project5 {
  margin: 0 auto;
  /* margin-top: 30px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #a5aab4; */

  background-color: #e9eaf2;
  /* #545BE9 */
  /* background-color: red; */

  padding: 20px 20px 40px 20px;
}
.proj5pic {
  width: 650px;
  border-radius: 20px;
}
.proj5text {
  /* background-color: green; */
  width: 550px;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.direct5 {
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  /* color: purple; */
  color: #9ec3e7;
  cursor: pointer;
}
.devdiv {
  text-align: center;
}

.hr {
  width: 600px;
}

@media (max-width: 1320px) {
  .webdev {
    width: 250px;
  }
  .proj1pic {
    width: 500px;
  }
}

@media (max-width: 1280px) {
  .proj1pic {
    width: 550px;
  }
  .proj1text {
    width: 470px;
  }
  .proj2pic {
    width: 550px;
  }
  .proj2text {
    width: 470px;
  }
  .proj3pic {
    width: 550px;
  }
  .proj3text {
    width: 470px;
  }
  .proj4pic {
    width: 550px;
  }
  .proj4text {
    width: 470px;
  }
  .proj5pic {
    width: 550px;
  }
  .proj5text {
    width: 470px;
  }

  .para {
    font-size: 23px;
  }
  .parawhole {
    width: 500px;
  }
  .inps {
    width: 600px;
  }
  .inp1 {
    width: 250px;
  }
  .inp2 {
    width: 250px;
  }
  .inp1div {
    width: 600px;
  }
  .inp3 {
    width: 570px;
    height: 150px;
  }
}

@media (max-width: 1234px) {
  .projects {
    width: 550px;
  }
  .what {
    width: 400px;
  }
}
@media (max-width: 1156px) {
  .inps {
    width: 550px;
  }
  .inp1 {
    width: 230px;
  }
  .inp2 {
    width: 230px;
  }
  .inp1div {
    width: 560px;
  }
  .inp3 {
    width: 530px;
    height: 150px;
  }
  .messageboxh1 {
    font-size: 27px;
  }
  .proj1pic {
    width: 500px;
  }
  .proj1text {
    width: 450px;
  }
  .proj2pic {
    width: 500px;
  }
  .proj2text {
    width: 450px;
  }
  .proj3pic {
    width: 500px;
  }
  .proj3text {
    width: 450px;
  }
  .proj4pic {
    width: 500px;
  }
  .proj4text {
    width: 450px;
  }
  .proj5pic {
    width: 500px;
  }
  .proj5text {
    width: 450px;
  }
}
@media (max-width: 1140px) {
  .webdev {
    width: 200px;
    /* text-align: left; */
  }
  .inps {
    width: 520px;
  }
  .inp1 {
    width: 200px;
  }
  .inp2 {
    width: 200px;
  }
  .inp1div {
    width: 530px;
  }
  .inp3 {
    width: 500px;
    height: 150px;
  }
  .messageboxh1 {
    font-size: 25px;
  }
}

@media (max-width: 1100px) {
  .what {
    width: 350px;
  }
  .percentages {
    /* background-color: red; */
    /* width: 400px; */
  }
  .progressfill1 {
    /* width: 400px; */
  }
  .progress {
    width: 400px;
  }
  .progress0 {
    width: 400px;
  }
  .proj1pic {
    width: 450px;
  }
  .proj1text {
    width: 400px;
  }
  .proj2pic {
    width: 450px;
  }
  .proj2text {
    width: 400px;
  }
  .proj3pic {
    width: 450px;
  }
  .proj3text {
    width: 400px;
  }
  .proj4pic {
    width: 450px;
  }
  .proj4text {
    width: 400px;
  }
  .proj5pic {
    width: 450px;
    /* border-radius: 60px; */
  }
  .proj5text {
    width: 400px;
  }
  .form {
    padding: 40px 40px 10px 40px;
  }
  .textdiv {
    width: 330px;
  }

  .inps {
    width: 500px;
  }
  .inp1 {
    width: 180px;
  }
  .inp2 {
    width: 180px;
  }
  .inp1div {
    width: 500px;
  }
  .inp3 {
    width: 480px;
    height: 150px;
  }
  .messageboxh1 {
    font-size: 23px;
  }
  .title {
    font-size: 35px;
  }
  .para {
    font-size: 25px;
  }
  .naseer {
    width: 320px;
  }

  .what h3 {
    font-size: 22px;
  }
}

@media (max-width: 995px) {
  .inps {
    width: 450px;
  }
  .inp1 {
    width: 180px;
  }
  .inp2 {
    width: 180px;
  }
  .inp1div {
    width: 450px;
  }
  .inp3 {
    width: 425px;
    height: 150px;
  }
  .messageboxh1 {
    font-size: 23px;
  }
  .proj1pic {
    width: 400px;
  }
  .proj1text {
    width: 400px;
  }
  .proj2pic {
    width: 400px;
  }
  .proj2text {
    width: 400px;
  }
  .proj3pic {
    width: 400px;
  }
  .proj3text {
    width: 400px;
  }
  .proj4pic {
    width: 400px;
  }
  .proj4text {
    width: 400px;
  }
  .proj5pic {
    width: 400px;
  }
  .proj5text {
    width: 400px;
  }
  /* .proj1text h3 {
    font-size: 17px;
  }
  .proj2text h3 {
    font-size: 17px;
  }
  .proj3text h3 {
    font-size: 17px;
  }
  .proj4text h3 {
    font-size: 17px;
  }
  .proj5text h3 {
    font-size: 17px;
  } */
}

@media (max-width: 940px) {
  .webdev {
    width: 170px;
    /* text-align: left; */
  }
  .naseer {
    width: 300px;
  }
  .title {
    font-size: 30px;
  }
  .para {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .proj1text h3 {
    font-size: 18px;
    /* width: 200px; */
  }
  .proj1text {
    width: 350px;
  }
  .proj2text h3 {
    font-size: 18px;
  }
  .proj2text {
    width: 350px;
  }
  .proj3text h3 {
    font-size: 18px;
  }
  .proj3text {
    width: 350px;
  }
  .proj4text h3 {
    font-size: 18px;
  }
  .proj4text {
    width: 350px;
  }
  .proj5text h3 {
    font-size: 18px;
  }
  .proj5text {
    width: 350px;
  }
}

@media (max-width: 922px) {
  /* .form{
    padding: 20px 20px 10px 20px;
  } */
  .inps {
    width: 400px;
  }
  .inp1 {
    width: 150px;
  }
  .inp2 {
    width: 150px;
  }
  .inp1div {
    width: 400px;
  }
  .inp3 {
    width: 380px;
    height: 150px;
  }
  .naseer {
    width: 250px;
  }
  .projects {
    width: 450px;
  }
  .btn1 {
    width: 120px;
    font-size: 13px;
    height: 35px;
  }
  .btn2 {
    width: 120px;
    font-size: 13px;
    height: 35px;
  }
  .btndiv {
    width: 250px;
  }
  .progress {
    width: 350px;
  }
  .progress0 {
    width: 350px;
  }
}

@media (max-width: 875px) {
  .textdiv {
    width: 250px;
  }
  .what h1 {
    font-size: 35px;
  }
  .proj1text h3 {
    font-size: 18px;
    /* width: 200px; */
  }
  .proj1text {
    width: 300px;
  }
  .proj2text h3 {
    font-size: 18px;
  }
  .proj2text {
    width: 300px;
  }
  .proj3text h3 {
    font-size: 18px;
  }
  .proj3text {
    width: 300px;
  }
  .proj4text h3 {
    font-size: 18px;
  }
  .proj4text {
    width: 300px;
  }
  .proj5text h3 {
    font-size: 18px;
  }
  .proj5text {
    width: 300px;
  }
}

@media (max-width: 835px) {
  .progress {
    width: 320px;
  }
  .progress0 {
    width: 320px;
  }
  .what{
    width: 260px;
  }
  .para{
    font-size: 20px;
  }
  .proj1pic {
    width: 350px;
  }
  .proj1text {
    width: 300px;
  }
  .proj1text h1{
    font-size: 25px;
  }
  .proj2pic {
    width: 350px;
  }
  .proj2text {
    width: 300px;
  }
  .proj2text h1{
    font-size: 25px;
  }
  .proj3pic {
    width: 350px;
  }
  .proj3text {
    width: 300px;
  }
  .proj3text h1{
    font-size: 25px;
  }
  .proj4pic {
    width: 350px;
  }
  .proj4text {
    width: 300px;
  }
  .proj4text h1{
    font-size: 25px;
  }
  .proj5pic {
    width: 350px;
  }
  .proj5text {
    width: 300px;
  }
  .proj5text h1{
    font-size: 25px;
  }
  .webdev{
    width: 130px;
  }
}

@media (max-width: 770px) {
 
  .proj1pic {
    width: 340px;
  }
  .proj1text {
    width: 250px;
    height: 200px;
  }
  .proj1text h1{
    font-size: 20px;
    margin: 0%;
  }
  .proj1text h3{
    font-size: 13px;
  }
  .proj2pic {
    width: 340px;
  }
  .proj2text {
    width: 250px;
  }
  .proj2text h1{
    font-size: 20px;
  }
  .proj2text h3{
    font-size: 13px;
  }
  .proj3pic {
    width: 340px;
  }
  .proj3text {
    width: 250px;
  }
  .proj3text h1{
    font-size: 20px;
  }
  .proj3text h3{
    font-size: 13px;
  }
  .proj4pic {
    width: 340px;
  }
  .proj4text {
    width: 250px;
  }
  .proj4text h1{
    font-size: 20px;
  }
  .proj4text h3{
    font-size: 13px;
  }
  .proj5pic {
    width: 340px;
  }
  .proj5text {
    width: 250px;
  }
  .proj5text h1{
    font-size: 20px;
  }
  .proj5text h3{
    font-size: 13px;
  }
  .grid{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
  }
  .webdev{
    width: 300px;
    align-items: center;
    margin: 0;
    text-align: center;
    padding: 10px;
  }
  .flex10 h2{
    font-size: 18px;
  }
  .flex1 h2{
    font-size: 18px;
  }
  .what h3{
    font-size: 18px;
  }
  .what h1{
    font-size: 27px;
    margin-top: 10px;
  }
  .progress {
    width: 280px;
  }
  .progress0 {
    width: 280px;
  }
  .inps {
    width: 320px;
  }
  .inp1 {
    width: 130px;
  }
  .inp2 {
    width: 120px;
  }
  .inp1div {
    width: 330px;
  }
  .inp3 {
    width: 300px;
    height: 130px;
  }
  .devdiv h1{
    font-size: 23px;
  }
}

@media (max-width: 736px) {
  .webdev{
    width: 250px;
  }
.naseer{
  width: 200px;
}
.para{
  font-size: 15px;
}
.title{
  font-size: 20px;
}
.projects{
  width: 350px;
}
.btn1 {
  /* padding: 10px; */
  border-radius: 20px;
  width: 95px;
  height: 25px;
  /* background-color: slategrey; */
  background-color: #d16b86;
  /* border: none; */
  border: 5px solid #d16b86;
  font-size: 10px;
}
.btn2 {
  /* padding: 10px; */
  border-radius: 20px;
  width: 95px;
  height: 25px;
  background-color: #f6f7f9;
  border: 2px solid #d16b86;
  font-size: 10px;

}
.btndiv{
  width: 200px;
}
.text1{
  font-size: 15px;
}
.text2{
  font-size: 15px;
}
}