.container {
  /* background-color: red; */
  /* background-color: green; */
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  border-radius: 6px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  transition: 1s;
  /* position: fixed; */
  /* box-shadow: 4px 6px 3px; */
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}

/* .container.active{
  background-color: red;
  color: blue;
  margin-top: 50px;

} */

.midiv {
  width: 400px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.icondiv {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.twitter:hover {
  transform: translateY(-5px);
  transition: 1s;
}

@media (max-width: 1151px) {
  .midiv {
    width: 300px;
  }
}

@media (max-width: 861px) {
  .midiv {
    width: 280px;
  }
  .container {
    width: 670px;
    /* padding: 10px; */
  }
  .icondiv{
    width: 130px;
  }
.container h1{
  font-size: 23px;
}
.midiv a{
  font-size: 14px;
}
.icondiv img{
  width: 20px;
}
}

@media (max-width: 760px) {
  .midiv {
    width: 250px;
  }
  .container {
    width: 670px;
    /* padding: 10px; */
  }
  .icondiv{
    width: 120px;
  }
.container h1{
  font-size: 23px;
}
.midiv a{
  font-size: 14px;
}
.icondiv img{
  width: 20px;
}
}

@media (max-width: 670px) {
  .midiv {
    width: 230px;
  }
  .container {
    width: 650px;
    /* padding: 10px; */
  }
  .icondiv{
    width: 100px;
  }
.container h1{
  font-size: 20px;
}
.midiv a{
  font-size: 13px;
}
.icondiv img{
  width: 16px;
}
}